  <header class="header">
            <div class="container-fluid">
               <div class="logo">
                    <a href="/">
                        <span> </span>
                    </a>

                </div>
                <div class="nav">
                    <div href="" class="toggle ">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="toggle--close">
                        <span></span>
                        <span></span>
                    </div>
                    <nav class="popup--menu" id="popup">
                        <a class="popup--menu_item" href="/about">
                            About
                        </a>
                        <!-- <a class="popup--menu_item" href="#skill">Skill</a> -->
                    </nav>
                </div>
            </div>
        </header>