<!DOCTYPE html>
<html lang="en">
  <head>
<% include ../head %>
</head>
<body>
   <div class="wrapper">
         <div class="bg bg--about"> </div>
      <% include ../header %>

       <section class="main">
            <div class="container-fluid">
                <div class="about">
                    <div class="text">
                        <div class="mainTitle">
                          <h1 class="title">Do My Best!
                        </div>
                          <div class="content">
                        </div>
                    </div>
                    <div class="img">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/public/js/main.js"></script>
<footer>
    <% include ../footer %>
</footer>
</body>

