<!DOCTYPE html>
<html lang="en">
  <head>
<% include ../head %>
</head>
<body>
   <div class="wrapper">
         <div class="bg bg--about"> </div>
      <% include ../header %>

      <section class="main--about">
            <div class="container-fluid">
                <div class="about row">
                    <div class="text col-sm-7">
                        <div class="mainTitle ">
                            <h1 class="title">Do My Best!
                        </div>
                        <div class="content">
                            <h3>哈囉，我是阿樹!
                            </h3>
                            <p>興趣是插畫、設計與漫畫繪製<br>
                                目前在前後端努力學習中，希望能早日獨當一面>__<
                            </p>
                        </div>
                    </div>
                    <div class="img col-sm-5">
                        <div class="pic"></div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <script src="/public/js/main.js"></script>
<footer>
    <% include ../footer %>
</footer>
</body>

