<!DOCTYPE html>
<html lang="en">
  <head>
<% include ../head %>
</head>
<body>
   <div class="wrapper">
        <div class="bg pre">
            <div class="preload"></div>
        </div>
      <% include ../header %>

        <section class="main">
            <div class="container-fluid">

                <h1 class="title">
                    WELCOME！ <%= user.name %>
                    <br>
                </h1>
                <a href="/about" class="btn">
                    About Me
                </a>
            </div>
        </section>
    </div>
    <script src="/public/js/main.js"></script>
<footer>
    <% include ../footer %>
</footer>
</body>

