<!DOCTYPE html>
<html lang="en">
  <head>
<% include ../head %>
</head>

<body>
    <div class="wrapper">
        <div class="bg">
        </div>
        <header class="header">
            <div class="container-fluid">
                <div class="logo">
                    <span></span>
                </div>
                <div class="nav">
                    <a href="#popup" class="toggle toggle--none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <a href="/" class="toggle--close">
                        <span></span>
                        <span></span>
                    </a>
                    <nav class="popup--menu" id="popup">    
                                <a class="popup--menu_item" href="/about">About</a>
                                <a class="popup--menu_item" href="/">Skill</a>
                    </nav>
                </div>
            </div>
        </header>
        <section class="main">
            <div class="container-fluid">

                <h1 class="title">
                    WELCOME！
                    <br>
                </h1>
                <a href="/about" class="btn">
                    About Me
                </a>
            </div>
        </section>
    </div>

<footer>
    <% include ../footer %>
</footer>

</body>

